/*隐藏hide*/
@keyframes hide {
  0% {
    transform: scale(1, 1);
    transform-origin: left top;
    opacity: 1;
  }
  100% {
    transform: scale(0, 0);
    transform-origin: left top;
    opacity: 0;
  }
}
*[data-animate=hide] {
  animation: hide 2s ease;
}
/*显示 show*/
@keyframes show {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
*[data-animate=show] {
  animation: show 2s ease;
}
/*淡入 fadein*/
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*[data-animate=fadein] {
  animation: fadein 2s ease;
}
/*淡入 fadeout*/
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*[data-animate=fadeout] {
  animation: fadeout 2s ease;
}
/*下拉 slideDown*/
@keyframes slideDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top;
  }
  100% {
    transform: scale(1, 1);
  }
}
*[data-animate=slideDown] {
  animation: slideDown 3s ease;
}
/*上去 slideUp*/
@keyframes slideUp {
  0% {
    transform: scale(1, 1);
    transform-origin: top;
  }
  100% {
    transform: scale(1, 0);
  }
}
*[data-animate=slideUp] {
  animation: slideUp 3s ease;
}
/*圆周运动*/
@keyframes circle {
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  0% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(40px, 0px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  1.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(39.39231012px, 6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  2.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(37.58770483px, 13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  3.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(34.64101615px, 20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  4.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(30.64177772px, 25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  5.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(25.71150439px, 30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  6.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(20px, 34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  7.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(13.68080573px, 37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  8.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(6.94592711px, 39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  10% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(0px, 40px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  11.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-6.94592711px, 39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  12.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-13.68080573px, 37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  13.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-20px, 34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  14.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-25.71150439px, 30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  15.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-30.64177772px, 25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  16.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-34.64101615px, 20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  17.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-37.58770483px, 13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  18.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-39.39231012px, 6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  20% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-40px, 0px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  21.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-39.39231012px, -6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  22.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-37.58770483px, -13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  23.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-34.64101615px, -20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  24.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-30.64177772px, -25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  25.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-25.71150439px, -30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  26.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-20px, -34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  27.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-13.68080573px, -37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  28.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-6.94592711px, -39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  30% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(0px, -40px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  31.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(6.94592711px, -39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  32.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(13.68080573px, -37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  33.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(20px, -34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  34.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(25.71150439px, -30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  35.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(30.64177772px, -25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  36.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(34.64101615px, -20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  37.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(37.58770483px, -13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  38.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(39.39231012px, -6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  40% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(40px, 0px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  41.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(39.39231012px, 6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  42.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(37.58770483px, 13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  43.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(34.64101615px, 20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  44.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(30.64177772px, 25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  45.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(25.71150439px, 30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  46.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(20px, 34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  47.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(13.68080573px, 37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  48.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(6.94592711px, 39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  50% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(0px, 40px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  51.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-6.94592711px, 39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  52.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-13.68080573px, 37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  53.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-20px, 34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  54.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-25.71150439px, 30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  55.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-30.64177772px, 25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  56.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-34.64101615px, 20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  57.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-37.58770483px, 13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  58.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-39.39231012px, 6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  60% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-40px, 0px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  61.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-39.39231012px, -6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  62.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-37.58770483px, -13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  63.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-34.64101615px, -20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  64.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-30.64177772px, -25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  65.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-25.71150439px, -30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  66.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-20px, -34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  67.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-13.68080573px, -37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  68.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-6.94592711px, -39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  70% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(0px, -40px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  71.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(6.94592711px, -39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  72.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(13.68080573px, -37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  73.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(20px, -34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  74.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(25.71150439px, -30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  75.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(30.64177772px, -25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  76.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(34.64101615px, -20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  77.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(37.58770483px, -13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  78.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(39.39231012px, -6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  80% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(40px, 0px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  81.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(39.39231012px, 6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  82.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(37.58770483px, 13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  83.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(34.64101615px, 20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  84.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(30.64177772px, 25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  85.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(25.71150439px, 30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  86.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(20px, 34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  87.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(13.68080573px, 37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  88.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(6.94592711px, 39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  90% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(0px, 40px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  91.11111111% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-6.94592711px, 39.39231012px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  92.22222222% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-13.68080573px, 37.58770483px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  93.33333333% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-20px, 34.64101615px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  94.44444444% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-25.71150439px, 30.64177772px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  95.55555556% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-30.64177772px, 25.71150439px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  96.66666667% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-34.64101615px, 20px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  97.77777778% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-37.58770483px, 13.68080573px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  98.88888889% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-39.39231012px, 6.94592711px);
  }
  /*
  0%---100%
  @num:36;
  @i:0---36;
  100/36*36
  */
  100% {
    /*cos()---弧度  弧度*半径+"px"------{弧度=角度*Pi/180}  */
    /* x点的位置 cos(@angle*pi()/180)*@r*1px,sin(@angle*pi()/180)*@r*1px*/
    transform: translate(-40px, 0px);
  }
}
*[data-animate=circle] {
  animation: circle 2s linear infinite;
}
/*曲线运动*/
@-webkit-keyframes quxian {
  0% {
    transform: translate(40px, 0px);
  }
  1.11111111% {
    transform: translate(39.90256201px, 6.84040287px);
  }
  2.22222222% {
    transform: translate(39.61072275px, 12.85575219px);
  }
  3.33333333% {
    transform: translate(39.12590403px, 17.32050808px);
  }
  4.44444444% {
    transform: translate(38.45046784px, 19.69615506px);
  }
  5.55555556% {
    transform: translate(37.58770483px, 19.69615506px);
  }
  6.66666667% {
    transform: translate(36.54181831px, 17.32050808px);
  }
  7.77777778% {
    transform: translate(35.31790371px, 12.85575219px);
  }
  8.88888889% {
    transform: translate(33.92192385px, 6.84040287px);
  }
  10% {
    transform: translate(32.36067977px, 0px);
  }
  11.11111111% {
    transform: translate(30.64177772px, -6.84040287px);
  }
  12.22222222% {
    transform: translate(28.77359201px, -12.85575219px);
  }
  13.33333333% {
    transform: translate(26.76522425px, -17.32050808px);
  }
  14.44444444% {
    transform: translate(24.62645901px, -19.69615506px);
  }
  15.55555556% {
    transform: translate(22.36771614px, -19.69615506px);
  }
  16.66666667% {
    transform: translate(20px, -17.32050808px);
  }
  17.77777778% {
    transform: translate(17.53484587px, -12.85575219px);
  }
  18.88888889% {
    transform: translate(14.98426374px, -6.84040287px);
  }
  20% {
    transform: translate(12.36067977px, 0px);
  }
  21.11111111% {
    transform: translate(9.67687582px, 6.84040287px);
  }
  22.22222222% {
    transform: translate(6.94592711px, 12.85575219px);
  }
  23.33333333% {
    transform: translate(4.18113853px, 17.32050808px);
  }
  24.44444444% {
    transform: translate(1.39597987px, 19.69615506px);
  }
  25.55555556% {
    transform: translate(-1.39597987px, 19.69615506px);
  }
  26.66666667% {
    transform: translate(-4.18113853px, 17.32050808px);
  }
  27.77777778% {
    transform: translate(-6.94592711px, 12.85575219px);
  }
  28.88888889% {
    transform: translate(-9.67687582px, 6.84040287px);
  }
  30% {
    transform: translate(-12.36067977px, 0px);
  }
  31.11111111% {
    transform: translate(-14.98426374px, -6.84040287px);
  }
  32.22222222% {
    transform: translate(-17.53484587px, -12.85575219px);
  }
  33.33333333% {
    transform: translate(-20px, -17.32050808px);
  }
  34.44444444% {
    transform: translate(-22.36771614px, -19.69615506px);
  }
  35.55555556% {
    transform: translate(-24.62645901px, -19.69615506px);
  }
  36.66666667% {
    transform: translate(-26.76522425px, -17.32050808px);
  }
  37.77777778% {
    transform: translate(-28.77359201px, -12.85575219px);
  }
  38.88888889% {
    transform: translate(-30.64177772px, -6.84040287px);
  }
  40% {
    transform: translate(-32.36067977px, 0px);
  }
  41.11111111% {
    transform: translate(-33.92192385px, 6.84040287px);
  }
  42.22222222% {
    transform: translate(-35.31790371px, 12.85575219px);
  }
  43.33333333% {
    transform: translate(-36.54181831px, 17.32050808px);
  }
  44.44444444% {
    transform: translate(-37.58770483px, 19.69615506px);
  }
  45.55555556% {
    transform: translate(-38.45046784px, 19.69615506px);
  }
  46.66666667% {
    transform: translate(-39.12590403px, 17.32050808px);
  }
  47.77777778% {
    transform: translate(-39.61072275px, 12.85575219px);
  }
  48.88888889% {
    transform: translate(-39.90256201px, 6.84040287px);
  }
  50% {
    transform: translate(-40px, 0px);
  }
  51.11111111% {
    transform: translate(-39.90256201px, -6.84040287px);
  }
  52.22222222% {
    transform: translate(-39.61072275px, -12.85575219px);
  }
  53.33333333% {
    transform: translate(-39.12590403px, -17.32050808px);
  }
  54.44444444% {
    transform: translate(-38.45046784px, -19.69615506px);
  }
  55.55555556% {
    transform: translate(-37.58770483px, -19.69615506px);
  }
  56.66666667% {
    transform: translate(-36.54181831px, -17.32050808px);
  }
  57.77777778% {
    transform: translate(-35.31790371px, -12.85575219px);
  }
  58.88888889% {
    transform: translate(-33.92192385px, -6.84040287px);
  }
  60% {
    transform: translate(-32.36067977px, 0px);
  }
  61.11111111% {
    transform: translate(-30.64177772px, 6.84040287px);
  }
  62.22222222% {
    transform: translate(-28.77359201px, 12.85575219px);
  }
  63.33333333% {
    transform: translate(-26.76522425px, 17.32050808px);
  }
  64.44444444% {
    transform: translate(-24.62645901px, 19.69615506px);
  }
  65.55555556% {
    transform: translate(-22.36771614px, 19.69615506px);
  }
  66.66666667% {
    transform: translate(-20px, 17.32050808px);
  }
  67.77777778% {
    transform: translate(-17.53484587px, 12.85575219px);
  }
  68.88888889% {
    transform: translate(-14.98426374px, 6.84040287px);
  }
  70% {
    transform: translate(-12.36067977px, 0px);
  }
  71.11111111% {
    transform: translate(-9.67687582px, -6.84040287px);
  }
  72.22222222% {
    transform: translate(-6.94592711px, -12.85575219px);
  }
  73.33333333% {
    transform: translate(-4.18113853px, -17.32050808px);
  }
  74.44444444% {
    transform: translate(-1.39597987px, -19.69615506px);
  }
  75.55555556% {
    transform: translate(1.39597987px, -19.69615506px);
  }
  76.66666667% {
    transform: translate(4.18113853px, -17.32050808px);
  }
  77.77777778% {
    transform: translate(6.94592711px, -12.85575219px);
  }
  78.88888889% {
    transform: translate(9.67687582px, -6.84040287px);
  }
  80% {
    transform: translate(12.36067977px, 0px);
  }
  81.11111111% {
    transform: translate(14.98426374px, 6.84040287px);
  }
  82.22222222% {
    transform: translate(17.53484587px, 12.85575219px);
  }
  83.33333333% {
    transform: translate(20px, 17.32050808px);
  }
  84.44444444% {
    transform: translate(22.36771614px, 19.69615506px);
  }
  85.55555556% {
    transform: translate(24.62645901px, 19.69615506px);
  }
  86.66666667% {
    transform: translate(26.76522425px, 17.32050808px);
  }
  87.77777778% {
    transform: translate(28.77359201px, 12.85575219px);
  }
  88.88888889% {
    transform: translate(30.64177772px, 6.84040287px);
  }
  90% {
    transform: translate(32.36067977px, 0px);
  }
  91.11111111% {
    transform: translate(33.92192385px, -6.84040287px);
  }
  92.22222222% {
    transform: translate(35.31790371px, -12.85575219px);
  }
  93.33333333% {
    transform: translate(36.54181831px, -17.32050808px);
  }
  94.44444444% {
    transform: translate(37.58770483px, -19.69615506px);
  }
  95.55555556% {
    transform: translate(38.45046784px, -19.69615506px);
  }
  96.66666667% {
    transform: translate(39.12590403px, -17.32050808px);
  }
  97.77777778% {
    transform: translate(39.61072275px, -12.85575219px);
  }
  98.88888889% {
    transform: translate(39.90256201px, -6.84040287px);
  }
  100% {
    transform: translate(40px, 0px);
  }
}
*[data-animate=quxian] {
  -webkit-animation: quxian 2s ease infinite;
}
/*旋转运动*/
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
  }
}
*[data-animate=rot] {
  animation: rot 2s linear infinite;
}
