html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    color: #fff;
}
.hud{
    width: 400px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.hud .life , .hud .score{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}